.overlay {
    position: fixed;
    top: 1;
    left: 1;
    width: 50%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 24px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  pics {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }